.app{
    padding:  2em; 
    background-color: black; 
    color: white; 
}

//Responsive
@media all and(max-width:930px){
    .wizards__list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and(max-width:800px){
    .wizards__list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and(max-width:500px){
    .wizards__list{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media all and(max-width:500px){
    .wizard__details-image{
        width: 200px;
        height: 300px;
    }
}