.app__header{
    padding: 20px;
    text-align: center;     
}
.header__title{
    margin-top: 0px;
    font-size: 50px;
}

.header__filter{
    outline: none;
    text-align: center;  
    font-weight: bold; 
}