.app{
    padding:  3em;   
}

//Header
.app__header{
    padding: 20px;
    text-align: center;     
}
.header__title{
    margin-top: 0px;
}

.header__filter{
    outline: none;
    text-align: center;  
    font-weight: bold; 
}

//>List
.wizards__list{
    margin:0;
    padding: 0;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap:10px;
}

//>>Item
.wizard__item{
    margin:0;
    background: rgb(128, 2, 19)  ;
    text-align: center;
    list-style: none;
    text-decoration-line: none;
    border:3px solid black;
   
}

.wizard__item-name{
    color: black;
}

.wizard__item-image{
    width: 160px;
    height: 230px;
    margin: 20px;
}

.wizard__item-house{
    color: black;
    text-decoration-line: none;
}


//Details
.wizard__details-container{
    background:rgb(128, 2, 19)  ;
    text-align: center;
}

.wizard__details-name{
    margin:0;
    padding: 50px;
}

.wizard__details-image{
    width: 300px;
    height: 400px;
}

.wizard__details-alive{
    margin-bottom:30px; 
}

.link__return{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;  
}


//Responsive
@media all and(max-width:930px){
    .wizards__list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and(max-width:800px){
    .wizards__list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and(max-width:500px){
    .wizards__list{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media all and(max-width:500px){
    .wizard__details-image{
        width: 200px;
        height: 300px;
    }
}